img{
    max-width: 200px;
    align-items: center;
    /* borde redondeado */
    border-radius: 15px;

}
figcaption{
    color: blue;
    font-size: medium;
    margin-bottom: 10px;
}

section{
    display: flex;
}