* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html {
    font-size: 62.5%;
}
main {
    width: 100vw;
    height: 100%;
    /* height: 10vh; */
    background-color: orange;
    
}

img{
    max-width: 200px;
    /* align-items: center; */
    /* borde redondeado */
    border-radius: 15px;

}
figcaption{
    color: blue;
    font-size: medium;
    margin-bottom: 1 rem;
}
figure{
    margin: 0 auto;
}
section{
    margin: 0 auto;
}